<div #editor contenteditable="true">
     
<select (change)="formatDoc('font-style',$event.target.value)">
  <option selected disabled>- Select Font Style -</option>
  <option value="bold">Bold</option>
  <option value="italic">Italic</option>
  <option value="oblique">oblique</option>
  <option value="normal">Normal</option>
  </select>
  <select (change)="formatDoc('font-family',$event.target.value)">
  <option class="heading" selected disabled>-Select Font Family -</option>
  <option>Arial</option>
  <option>Arial Black</option>
  <option>Courier New</option>
  <option>Times New Roman</option>
  </select>
  <select (change)="formatDoc('font-size',$event.target.value)">
  <option class="heading" selected disabled>- Select Font Size -</option>
  <option value="10px">Very small</option>
  <option value="20px">A bit small</option>
  <option value="30px">Normal</option>
  <option value="40px">Medium-large</option>
  <option value="50px">Big</option>
  <option value="60px">Very big</option>
  <option value="70px">Maximum</option>
  </select>
  <select (change)="formatDoc('backgroundColor',$event.target.value)">
  <option class="heading" selected disabled>- Select Background Colour-</option>
  <option value="red">Red</option>
  <option value="green">Green</option>
  <option value="black">Black</option>
  <option value="White">White</option>
  </select> 

  <h1>Text Editor.</h1>
  <p>Try making some changes here. Add your own text.</p>
</div>